GO_ENV=production
API_PORT=8080
API_HOST=0.0.0.0
WEBHOOK_URL=https://tech-challenge.com.br/v1/payments/webhook

DB_RUN_MIGRATIONS=true
DB_HOST=postgres
DB_NAME=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=12345678

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678

AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT=http://localstack:4566

AWS_SQS_CREATE_PAYMENT_QUEUE=http://localstack:4566/000000000000/create-payment-queue
AWS_SQS_CREATE_KITCHEN_ORDER_QUEUE=http://localstack:4566/000000000000/create-kitchen-order-queue
AWS_SQS_ORDER_ERROR_QUEUE=http://localstack:4566/000000000000/payment-order-error-queue

AWS_SNS_ORDER_ERROR_TOPIC=order-error-topic