GO_ENV=production
API_PORT=8080
API_HOST=0.0.0.0
WEBHOOK_URL=https://tech-challenge.com.br/v1/payments/webhook

DB_RUN_MIGRATIONS=true
DB_HOST=postgres
DB_NAME=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=12345678

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678

MERCADOPAGO_ACCESS_TOKEN=APP_USR-1759552174955251-121514-0add78ff150666b46a342875686de7a7-3068451447
MERCADOPAGO_COLLECTOR_ID=3068451447
MERCADOPAGO_EXTERNAL_POS_ID=tccaixafiapf2
MERCADOPAGO_API_URL=https://api.mercadopago.com

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

AWS_SQS_ENDPOINT=http://elasticmq:9324
AWS_SQS_CREATE_PAYMENT_QUEUE=http://elasticmq:9324/queue/create-payment
AWS_SQS_CREATE_KITCHEN_ORDER_QUEUE=http://elasticmq:9324/queue/create-kitchen-order
AWS_SQS_ORDER_ERROR_QUEUE=http://elasticmq:9324/queue/order-error
