GO_ENV=production
API_PORT=8080
API_HOST=0.0.0.0
WEBHOOK_URL=https://tech-challenge.com.br/v1/payments/webhook

DB_RUN_MIGRATIONS=true
DB_HOST=postgres
DB_NAME=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=12345678

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678

MERCADOPAGO_ACCESS_TOKEN=APP_USR-1759552174955251-121514-0add78ff150666b46a342875686de7a7-3068451447
MERCADOPAGO_COLLECTOR_ID=3068451447
MERCADOPAGO_EXTERNAL_POS_ID=tccaixafiapf2
MERCADOPAGO_API_URL=https://api.mercadopago.com

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_EXCHANGE=amq.topic
RABBITMQ_CREATE_KITCHEN_ORDER_TOPIC=create.kitchen-order
RABBITMQ_REFOUND_PAYMENT_TOPIC=refound.payment